html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#accountHeader{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
}

#accountHeader img{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#accountHeader label{
  margin: 0px 5px;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
  background-color: lightgreen;

  box-shadow: 0px -5px 50px 0px;
}

#top h1 {
  font-size: 2em;
}

#nameForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#nameInputs{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

#nameInputs input, #nameInputs textarea{
  margin: 0px 0px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

textarea{
  resize: none;
  min-height: 150px;
  height: fit-content;
  width: 100%;
}

#postContentsInput{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#content{
  font-size: 2em;
  text-align: center;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contentTitle {
  font-size: 2em;
  text-align: center;
}

#headerOptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px;

}

#sectionOptions{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  height: max-content;
  box-shadow: 1px 0px 0px 0px;
}
.sectionOptionSelected{
  opacity: 1 !important;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#sectionOptions img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 10px 10px;
  opacity:0.65;
  transition: 0.5s ease;
}

#sectionOptions img:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.5s ease;
  opacity:1;
}

.post {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px;
  width: 500px;
  margin: 10px 10px;
  padding: 15px 15px;
}

.post h6{
  margin: 0px auto;
  width: 90%;
  box-shadow: 0px 1px 0px 0px #000000;

}

.post p {
  text-align: left;
  font-size: 15px;
  overflow-wrap: break-word;
}

.accountInfo{
  display: flex;
  align-items: start;
  margin: 0px 0px 10px 0px;
}

.accountInfo img{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.accountInfo p{
  padding: 0px;
  margin: 0px 10px;
}